*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* color: #00FFFF; Another choice*/ 
} 

html{
    scroll-behavior: smooth;
}
body{
    background-color: #080808;
    color: #fff;
}

/* Header section styles */

/* #header{
    width: 100%;
    height: 85vh;
   
} */
.text-img{
    display: flex;
    gap: 100px;
}
.logo{
    width: 65px;
    height: 65px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00FF40;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
#header{
    height: 80vh;
    width: 100%;
}
.header-text{
    text-align: end;
    margin-top: 15%;
}
.header-text p{
    font-size: 25px;
}
.header-text h1{
    font-size: 50px;
    margin: 20px;
}
.header-text h1 span{
    color: #00FF40;
    
}
.header-photo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
}
.header-photo img{
    margin-top: 10%;
    width: 28vw;
    height: 60vh;
    margin-left: 80px;
    border-radius: 50%;
}

/* About section styles */

#about{
    width: 100%;
    height: 85vh;
    padding: 80px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    margin-bottom: 80px;
}
.about-col-1 img{
    width: 100%;
    height: 60vh;
}
.about-col-2{
    flex-basis: 60%;
    margin-top: 30px;
}
.about-col-2 p{
    font-size: 16px;
}
.sub-tittle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-tittles{
    display: flex;
    margin: 15px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00FF40;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 20px 0;
    font-size: 14px;
}
.tab-contents ul li span{
    color: #00FF40;
    font-size: 18px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* project section styles */

#projects{
    padding: 30px 0;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.project-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
}
.project-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.project-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.project-list div p{
    font-size: 16px;
}
.project-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}
.project-list div:hover{
    background: #00FF40;
    transform: translateY(-10px);
}

/* Contact section style */
#contact{
    margin-top: 10%;
}

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p, .social-media-icons{
    margin-top: 28px;
}
.contact-left p i{
    color: #00FF40;
    margin-right: 15px;
    font-size: 25px;
}
.social-media-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-media-icons a:hover{
    color: #00FF40;
    transform: translateY(-5px);
}
.btn{
    display: block;
    margin: 30px auto;
    width: fit-content;
    display: inline-block;
    border: 2px solid #00FF40;
    background: #080808;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #00FF40;
}
.contact-right form{
    width: 100%;
}

form h1{
    margin-bottom: 28px;
}
form input, form textarea{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #00FF40;
    outline: none;
    background: #080808;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 10px;
    border-radius: 6px;
}
form .btn-2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 40px;
    cursor: pointer;

}
nav .fa-solid{
    display: none;
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}


 @media only screen and (max-width: 600px){
    body{
        width: 100%;
        height: 100%;
    }
    #header{
        height: 10%;
     }
    .header-photo img{
       
    }

    .header-text p{
        margin-right: 10%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 35px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #00FF40;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    #about{
        margin-bottom: 100%;
    }
    .sub-tittle{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 40px;
    }
    .about-col-1 img{
        display: none;
    }
    .about-col-2 p{
        margin-top: 20px;
        font-size: 15px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    #projects .container .sub-tittle{
        margin-top: 30px;
    }
    .project-list div a{
        font-size: 16px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .btn{
        margin-bottom: 50px;
    }
    .social-media-icons a{
        font-size: 20px;
    }

} 
